<div id="<%= dom_id mate %>">
  <p>
    <strong>First name:</strong>
    <%= mate.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= mate.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= mate.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= mate.phone %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= mate.twitter %>
  </p>

</div>
