<% if user_signed_in? %>
  <% @mates.each do |mate| %>
    <% if mate.user == current_user %>
      <div class="pb-3 pt-4 px-5 mb-3 bg-body-tertiary rounded-3 container-fluid d-flex justify-content-between">
        <div>
          <h2 class="fw-bold mb-2"><%= link_to mate.first_name + ' ' + mate.last_name, mate, class: "text-black text-decoration-none" %></h2>
          <p class="fs-5">
            <%= mate.email %> | <%= mate.phone %> | <%= mate.twitter %>
          </p>
        </div>
          <div class="d-flex align-items-center gap-4">
            <%= link_to 'Show', mate, class: "btn btn-outline-success" %></td>
            <% if mate.user == current_user %>
              <%= link_to 'Edit', edit_mate_path(mate), class: "btn btn-outline-primary" %>
              <%= button_to 'Destroy', mate, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %>
            <% else %>
              <%= link_to 'Edit', edit_mate_path(mate), class: "btn btn-outline-primary disabled" %>
              <%= button_to 'Destroy', mate, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger disabled" %>
            <% end %>
          </div>
      </div>
    <% end %>
  <% end %>
  <%= link_to "New Friend", new_mate_path, class:"btn btn-outline-primary mt-2 mb-5" %>
<% else %>
  <div class="p-5 mb-5 bg-body-tertiary rounded-3">
      <div class="container-fluid py-3">
        <h1 class="display-5 fw-bold">Home</h1>
        <p class="col-md-8 fs-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <%= link_to "Explore", mates_path, class:"btn btn-primary btn-lg" %>
      </div>
  </div>
  <%= image_tag("https://www.searchenginejournal.com/wp-content/uploads/2022/01/about-us-page-examples-1-61fd8f9784626-sej-1520x800.webp", class: "img-thumbnail img-fluid rounded-3 my-5 mx-auto d-block") %>
<% end %>